input {
    outline: none;

}

.title {
    margin: auto 250px;
    height: inherit;
    zoom: 0.9; 
    /* For Firefox */
    -moz-transform: scale(0.5); 
    -moz-transform-origin: 0 0;
}



.fb {
    font-size: 54px;
    display: inline;
    padding-bottom: 100px;
    font-family: "Klavika Bold";
    color: blue;
}

.table-head {
    float: right;
    display: block;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.34;
}


.blank {
    border: 1px solid black;
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
    outline: dotted;
}

.table-body {
    padding-right: 14px;
    padding-bottom: 4px;
}

.title-bar {
    background-color: #3b5998;
    color: white;
    margin: 0px;
    padding-top: 13px;
    height: 82px;
    min-width: 1300px;
}

.button {
    color: white;
    background-color: rgb(68, 141, 201);
    border: 0;
    border-color: #29487d;
}

.button:hover {
    background-color: #002981;
}

#forgot {
    padding-top: 6px;
    color: #9cb4d8;
    font-weight: normal;
}

/* Form */
.form{
    float: right;
    max-width: 400px;
    /* When styling, please change this background */
}

main{
    height: 700px;
    width: 100%;
    background-color: #dfe6e7;
    
}

.full_name_wrapper {
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 5px;
   border-color: #bdc7d8;
   border-radius: 10px;
}

.num_or_email_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }
 
 .passwrod_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }
 
 .gender h5{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;

 }
 .date-of-birth h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }
 
 .data_policy_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }
   
 .sign_up_button_wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }

 