input {
    outline: none;

}

.title {
    margin: auto 250px;
    height: inherit;
    zoom: 0.9; 
    /* For Firefox */
    -moz-transform: scale(0.5); 
    -moz-transform-origin: 0 0;
}



.fb {
    font-size: 54px;
    display: inline;
    padding-bottom: 100px;
    font-family: "Klavika Bold";
    color: white;
}

.table-head {
    float: right;
    display: block;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.34;
}


.blank {
    border: 1px solid black;
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
    outline: dotted;
}

.table-body {
    padding-right: 14px;
    padding-bottom: 4px;
}

.title-bar {
    background-color: #3b5998;
    color: white;
    margin: 0px;
    padding-top: 13px;
    height: 82px;
    min-width: 1024px;
}

.button {
    color: white;
    background-color: rgb(68, 141, 201);
    border: 0;
    border-color: #29487d;
}

.button:hover {
    background-color: #002981;
}

#forgot {
    padding-top: 6px;
    color: #9cb4d8;
    font-weight: normal;
}

/* Form */
.form{
    float: right;
    
    /* When styling, please change this background */
}

main{
    height: 700px;
    width: 100%;
    background-color: #dfe6e7;
    
}

.full_name_wrapper {
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 5px;
   border-color: #bdc7d8;
   border-radius: 10px;
}

.full_name_wrapper input{
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
}

.num_or_email_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }

 .num_or_email_wrapper input {
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
 }
 
 .passwrod_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }

 .passwrod_wrapper input {
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
 }
 
 .gender h5{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;

 }
 .date-of-birth h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
 }
 
 .data_policy_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #777;
    font-size: 11px;
    width: 316px;
 }
   
 .sign_up_button_wrapper{
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
 }

 .account {
     font-size: 36px;
     font-weight: 600;
     color:black;
     line-height: 1.34
 }

 .quick {
     font-size: 19px;
     line-height: 1.34
 }

 .dob {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
 }

 #footer_wrapper {
     margin: 45px 250px 20px;
     font-size: 13px;
     line-height: 1.6;
     word-spacing: 9px;
     color: #737373;
 }

 #footer_wrapper a {
    color: #385898;
    cursor: pointer;
 }

 #copyright {
     padding-top: 10px;
     font-size: 11px;
     word-spacing: normal;
 }
 
 
