body {
  min-width: 1200px;
  font-size: 20px;
}

input {
  outline: none;
}

main {
  min-width: 80%;
  background-color: #dfe6e7;
}


/* for the header*/
.title-bar {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  color: white;
  margin: 0px;
  padding-top: 13px;
  height: 86px;
  min-width: 80%;
}

.title {
  display: flex;
  margin: auto 250px;
  height: inherit;
  zoom: 0.9;
  /* For Firefox */
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  justify-content: space-evenly;
  min-width: 80%;
}

.fb-logo {
  color: #385898;
  width: 170px;
  height: 34px;
  margin-top: 17px;
}

.table-head {
  display: block;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.34;
  padding-left: 350px;
}

.table-body {
  padding-right: 14px;
  padding-bottom: 4px;
}

.blank {
  border: 1px solid black;
  border-color: #1d2a5b;
  margin: 0;
  width: 142px;
  outline: dotted;
}

.button {
  background: none;
  font-weight: bold;
  color: white;
  border: 1px solid #ccd0d5;
  padding: 2px 6px;
  background-color: #4267b2;
  border-color: #29487d;
}

#forgot {
  padding-top: 6px;
  color: #9cb4d8;
  font-weight: normal;
}

/* for the main */

.main-body {
  display: flex;
  background-image: linear-gradient(white, rgb(211, 216, 232));
}

#left-part {
  margin-right: 15px;
  padding-left: 200px;
}

.left-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e385f;
  font-size: 20px;
  width: 450px;
  margin: 40px 0 0 0px;
  font-weight: bold;
  word-spacing: -1px;
  line-height: 29px;
}

.form {
  padding-left: 90px;
  padding-top: 25px;
}

.form-heading {
  padding: 0px 0;
}

.full_name_wrapper {
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full_name_wrapper .text-input {
  width: 48%;
}

.text-input {
  border: 1px solid #bdc7d8;
  background: #fff;
  border-radius: 5px;
  height: 39px;
}

.text-input input {
  height: 100%;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  background: transparent;
}

.num_or_email_wrapper {
  margin-bottom: 15px;
}

.password_wrapper {
  margin-bottom: 15px;
}

.click_for_more_info {
  position: relative;
  top: -8px;
  border-radius: 50%;
  font-size: 10px;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.date-of-birth,
.gender {
  position: relative;
}

.gender span {
  padding: 5px;
  font-size: 18px;
}

.gender h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.info {
  color: #90949c;
  font-size: 16px;
  font-weight: bold;
}

.data_policy_wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #777;
  font-size: 12px;
}

.highlight {
  color: #385898 !important;
  cursor: pointer;
  text-decoration: none;
}

.sign_up_button_wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.sign_up_button {
  font-weight: bold;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  width: 194px;
  height: 49px;
  font-size: 19px;
  line-height: 126%;
}

.create_a_page {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
}

/* for the footer */
#footer_wrapper {
  margin: 45px 250px 20px;
  font-size: 13px;
  line-height: 1.6;
  word-spacing: 9px;
  color: #737373;
}

#footer_wrapper a {
  color: #385898;
  cursor: pointer;
}

#copyright {
  padding-top: 10px;
  font-size: 11px;
  word-spacing: normal;
}
